<% content_for :title, "New note" %>

<div class="min-h-screen bg-zinc-50 flex justify-center items-start py-12 px-4 sm:px-6 lg:px-8">

  <div class="w-full md:w-2/3 bg-white rounded-xl shadow-md p-8">

    <!-- Header -->
    <h1 class="text-4xl font-bold text-zinc-900 mb-6">
      Create New Note
    </h1>
    <p class="text-zinc-500 mb-8">
      Add your thoughts, reminders, or todos below. Make it colorful and organized.
    </p>

    <!-- Form -->
    <%= render "form", note: @note %>

    <!-- Back Link -->
    <div class="mt-6">
      <%= link_to "Back to notes",
            notes_path,
            class: "mt-8 text-l font-medium border border-2 border-black rounded-md l px-6 py-2 text-black hover:-ml-1 hover:mt-7 hover:border-b-4 hover:border-r-4" %>
    </div>

  </div>
</div>
